.projects {
  background-color: var(--color-green);
  padding: 2rem;
  scroll-margin-top: 3.6rem;
}

.projects h2 {
  text-align: center;
  border-bottom: 2px solid var(--color-yellow);
  margin-bottom: 2rem;
  color: var(--color-yellow);
  font-size: 2.5rem;
  line-height: 1.5;
}

.project-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
}
