.welcome {
  background-color: #002c2c;
  height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
  color: var(--color-yellow);
  padding: 0 3rem;
}

.welcome h1 {
  color: var(--color-yellow);
  /* padding-top: 6rem; */

  font-size: 3rem;
  margin-bottom: 1rem;
  /* margin-top: 2rem; */
}

.welcome p {
  /* color: var(--color-lightred); */
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 1rem;
}

@media screen and (max-width: 450px) {
  .welcome p {
    margin-top: 3rem;
    font-size: 2.2rem;
  }

  p.skillset {
    font-size: 1.8rem;
  }
}
