@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;1,300&display=swap");

:root {
  --color-red: #8d3a3a;
  --color-lightred: #d58888;
  --color-green: #235555;
  --color-yellow: #e9deca;
  --color-darkgreen: #002d2d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

body {
  line-height: 1;
}
